<!DOCTYPE html>
<html>

<head>
    <title>Editar Inventario</title>
</head>

<body>

<h1>Editar Inventario</h1>

<a href="/inventario">← Volver</a>

<br><br>

<form method="POST">

    <label>Producto:</label><br>

    <select name="id_producto" required>

        {% for producto in productos %}

        <option value="{{ producto[0] }}"
        {% if producto[0] == inventario[1] %}
        selected
        {% endif %}>
            {{ producto[1] }}
        </option>

        {% endfor %}

    </select>

    <br><br>

    <label>Sede:</label><br>

    <select name="id_sede" required>

        {% for sede in sedes %}

        <option value="{{ sede[0] }}"
        {% if sede[0] == inventario[2] %}
        selected
        {% endif %}>
            {{ sede[1] }}
        </option>

        {% endfor %}

    </select>

    <br><br>

    <label>Cantidad disponible:</label><br>

    <input
        type="number"
        name="cantidad_disponible"
        value="{{ inventario[3] }}"
        required
    >

    <br><br>

    <label>Stock mínimo:</label><br>

    <input
        type="number"
        name="stock_minimo"
        value="{{ inventario[4] }}"
        required
    >

    <br><br>

    <label>Stock máximo:</label><br>

    <input
        type="number"
        name="stock_maximo"
        value="{{ inventario[5] }}"
        required
    >

    <br><br>

    <button type="submit">
        Guardar Cambios
    </button>

</form>

</body>
</html>