<!DOCTYPE html>
<html>
<head>
    <title>Editar Proveedor</title>
</head>

<body>

<h1>Editar Proveedor</h1>

<form method="POST">

    <label>NIT:</label><br>
    <input value="{{ proveedor[0] }}" disabled><br><br>


    <label>Nombre:</label><br>
    <input name="nombre_proveedor" value="{{ proveedor[1] }}"><br><br>


    <label>Dirección:</label><br>
    <input name="direccion_empresa" value="{{ proveedor[2] }}"><br><br>


    <label>Teléfono:</label><br>
    <input name="telefono_proveedor" value="{{ proveedor[3] }}"><br><br>


    <label>Correo:</label><br>
    <input name="correo_proveedor" value="{{ proveedor[4] }}"><br><br>


    <button type="submit">
        Guardar cambios
    </button>

</form>


<a href="/proveedores">Volver</a>

</body>
</html>