{% extends 'base.html' %}
{% block content %}
<h2>Estado del Inventario (Semaforización)</h2>
<table class="table table-bordered mt-3">
    <thead class="table-dark">
        <tr>
            <th>Producto</th>
            <th>Stock Actual</th>
            <th>Demanda Diaria</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for item in datos %}
        <tr>
            <td>{{ item.inv.producto.nombre_producto }}</td>
            <td>{{ item.inv.cantidad_disponible }}</td>
            <td>{{ item.demanda }}</td>
            <td>
                {% if item.estado == 'AGOTADO' or item.estado == 'CRÍTICO' %}
                    <span class="badge bg-danger">{{ item.estado }}</span>
                {% elif item.estado == 'ALERTA' %}
                    <span class="badge bg-warning text-dark">{{ item.estado }}</span>
                {% else %}
                    <span class="badge bg-success">{{ item.estado }}</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}