<!DOCTYPE html>
<html>

<head>
<title>Nuevo Cliente</title>
</head>

<body>

<h1>Registrar Cliente</h1>

<form method="POST">

Tipo documento:
<input name="tipo_documento">

<br>

Número documento:
<input name="numero_documento">

<br>

Nombres:
<input name="nombres">

<br>

Apellidos:
<input name="apellidos">

<br>

Teléfono:
<input name="telefono_cliente">

<br>

Correo:
<input name="correo_cliente">

<br>

Habeas Data:
<input name="habeas_data">

<br><br>

<button type="submit">
Guardar Cliente
</button>

</form>

</body>

</html>