<!DOCTYPE html>
<html>
<head>
    <title>Productos</title>
</head>

<body>

<h1>Lista de Productos</h1>

<table border="1">

<tr>
    <th>ID</th>
    <th>Código de barras</th>
    <th>Nombre</th>
    <th>Tipo</th>
    <th>Precio venta</th>
    <th>Marca</th>
</tr>

{% for producto in productos %}

<tr>
    <td>{{ producto[0] }}</td>
    <td>{{ producto[1] }}</td>
    <td>{{ producto[2] }}</td>
    <td>{{ producto[3] }}</td>
    <td>{{ producto[4] }}</td>
    <td>{{ producto[5] }}</td>
</tr>

{% endfor %}

</table>

</body>
</html>